apiVersion: v1
kind: ConfigMap
metadata:
  name: spring-config
data:
  SPRING_DATASOURCE_URL: jdbc:mysql://mysql-service:3306/springdb
  SPRING_JPA_HIBERNATE_DDL_AUTO: update
  SPRING_JPA_SHOW_SQL: "true"
  SPRING_JPA_HIBERNATE_DIALECT: org.hibernate.dialect.MySQL5InnoDBDialect
---
apiVersion: v1
kind: Secret
metadata:
  name: spring-secret
type: Opaque
data:
  # REVERTED TO SPRING USER (Since you fixed the DB permissions)
  # user: spring (c3ByaW5n)
  SPRING_DATASOURCE_USERNAME: c3ByaW5n
  # pass: spring123 (c3ByaW5nMTIz)
  SPRING_DATASOURCE_PASSWORD: c3ByaW5nMTIz
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
      labels:
        app: spring-app
    spec:
      containers:
      - name: spring-app
        image: medazizhammami/timesheet-app:latest
        ports:
        - containerPort: 8080    # <--- FIXED: Default Spring Boot Port
        envFrom:
        - configMapRef:
            name: spring-config
        - secretRef:
            name: spring-secret
---
apiVersion: v1
kind: Service
metadata:
  name: spring-service
spec:
  selector:
    app: spring-app
  type: NodePort  
  ports:
    - port: 8080        # <--- FIXED: Internal Port
      targetPort: 8080  # <--- FIXED: Target Container Port
      nodePort: 30080
